<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HotelServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="HotelServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44364/HotelService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HotelServiceSoap"
                contract="HotelReference.HotelServiceSoap" name="HotelServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>