.recipe
{
	width: 192px;
	height: 128px;

	margin: 1em;
	padding: 1em 0.5em; 
	
	display: flex;
	align-items: center;
    justify-content: center;
        
	border: var(--accent-color) 1px solid;
	border-radius: 0.2em 0.2em 1.5em 1.5em;
	
	background: white;
	color: var(--accent-color);
	
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	
	cursor: pointer;
}
